body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: blue;
}

/* LOGIN / SIGNUP */
#form-elements {
  display: flex;
  flex-direction: column;
}

/* GROCERY LIST */
#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

#list-store {
  display: flex;
  align-self: flex-start;
}

#list-item-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.list-header {
  display: flex;
  flex-direction: row;
}

.list-item {
  text-align: center;
}

.saved-item {
  color: gray;
}

.change-item-btn {
  padding: 0;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.remove-btn {
  background-color: lightgray;
}

.remove-btn:hover {
  background-color: darkred;
}

.add-btn {
  background-color: green;
}

.add-btn:hover {
  background-color: seagreen;
}

#list-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}
